html, body {
    background-color: #e8e1ef;
  }

  nav {
    background-color:#572cb5 ;
    padding: 0.5cm;
    -webkit-text-fill-color:#000000 ;
    font-family:  Lucida  ;
    font-size: 20px;
    -webkit-text-stroke-width: 0.01cm;
    -webkit-text-stroke-color: #000000;
  }

 
  main {
    background-color: #38aecc;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .box3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;

  }

  .row{
    flex: 0.2cm;
  }