html, body {
    background-color: #e8e1ef;
  }

  nav {
    background-color:#572cb5 ;
    padding: 0.25cm;
    -webkit-text-fill-color:#000000 ;
    font-family:  Lucida  ;
    font-size: 20px;
    -webkit-text-stroke-width: 0.01cm;
    -webkit-text-stroke-color: #000000;
  }

  .button {
    background-color: #38aecc;
    border: none;
    color: #000000;
    padding: 15px 10px;
    text-align: center;
    width: 2cm;
  }