html, body {
    background-color: #e8e1ef;
  }

  nav {
    background-color:#572cb5 ;
    padding: 0.5cm;
    -webkit-text-fill-color:#000000 ;
    font-family:  Lucida  ;
    font-size: 20px;
    -webkit-text-stroke-width: 0.01cm;
    -webkit-text-stroke-color: #000000;
  }

 
  main {
    background-color: #38aecc;
  }

  footer{
    background-color: #211a1d;
    -webkit-text-fill-color: aliceblue;
  }

  .container {
    display: grid;
    grid-template-columns:auto auto auto ;
    padding: 10px;
  }

  .box3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;

  }

  .image-row{
    background-color: #987284;
    padding: 5px;
    display: flex;
    margin: 5px;
  }

.box1{
  padding:10px
}


  .box2{
    padding: 10px
  }

  .box31{
    padding: 10px
  }

  .box4{
    padding: 10px
  }

  .box5{
    padding: 10px
  }